{% extends 'base.html' %}

{% block Base %}
<article>

    <h1>Entre em contato</h1>
    <p> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Officia molestiae esse at fuga?</p>
        
    <hr>

    <form action="">
        <label for="">Seu e-mail</label>
        <input type="text" name="" id="">

        <label for="">Assunto</label>
        <input type="text" name="" id="">

        <label for="">Descrição</label>
        <textarea name="" id="" cols="17" rows="2"></textarea>

        <button>Enviar</button>
    </form>
    
</article>
{% endblock %}