{% extends 'base.html' %}

{% block Base %}

<article>
    <img src="{{url_for('static' , filename='images/capa.png')}}" alt="Tecnologia no seu Aprendizado">

    <h1>Sobre a Universidade</h1>
    <p>Lorem <b>ipsum dolor</b> sit, amet consectetur adipisicing elit. Praesentium, illo blanditiis sequi voluptatem harum quod ex voluptate perferendis totam nisi. Eaque dolores corporis aperiam atque tempore. Quibusdam, doloremque voluptatum eveniet architecto culpa facere saepe aspernatur tempora ipsa! Libero, sunt quam obcaecati ad repellendus nemo iure nisi assumenda veritatis ipsa autem cum odit consequuntur earum placeat culpa nobis ipsam tenetur minima veniam sed provident quo. Dolore sunt veniam beatae ea!</p>

    <p>Lorem <b>ipsum dolor</b> sit, amet consectetur adipisicing elit. Praesentium, illo blanditiis sequi voluptatem harum quod ex voluptate perferendis totam nisi. Eaque dolores corporis aperiam atque tempore. Quibusdam, doloremque voluptatum eveniet architecto culpa facere saepe aspernatur tempora ipsa! Libero, sunt quam obcaecati ad repellendus nemo iure nisi assumenda veritatis ipsa autem cum odit consequuntur earum placeat culpa nobis ipsam tenetur minima veniam sed provident quo. Dolore sunt veniam beatae ea!</p>
    
</article>

{% endblock %}