{% extends 'base.html' %}

{% block Base %}

<article>

    <h1>Quem somos</h1>

    <p>Lorem <b>ipsum dolor</b> sit, amet consectetur adipisicing elit. Praesentium, illo blanditiis sequi voluptatem harum quod ex voluptate perferendis totam nisi. Eaque dolores corporis aperiam atque tempore. Quibusdam, doloremque voluptatum eveniet architecto culpa facere saepe aspernatur tempora ipsa! Libero, sunt quam obcaecati ad repellendus nemo iure nisi assumenda veritatis ipsa autem cum odit consequuntur earum placeat culpa nobis ipsam tenetur minima veniam sed provident quo. Dolore sunt veniam beatae ea!</p>

    <h1>5 motivos pra estudar</h1>

    <ol id="QSlist">
        <li>Material sempre atualizado
        <li>Tablets em sala de aula
        <li>Professores renomados
        <li>Universidade bem avaliada
        <li>Ótima localização
    </ol>

    <hr>

    <h1>Objetivos</h1>

    <p>Lorem <b>ipsum dolor</b> sit, amet consectetur adipisicing elit. Praesentium, illo blanditiis sequi voluptatem harum quod ex voluptate perferendis totam nisi. Eaque dolores corporis aperiam atque tempore. Quibusdam, doloremque voluptatum eveniet architecto culpa facere saepe aspernatur tempora ipsa! Libero, sunt quam obcaecati ad repellendus nemo iure nisi assumenda veritatis ipsa autem cum odit consequuntur earum placeat culpa nobis ipsam tenetur minima veniam sed provident quo. Dolore sunt veniam beatae ea!</p>

</article>

{% endblock %}